<md-toolbar>
  <h2>My Account</h2>
  <span class="spacer"></span>
  <button md-button><h2 class="link" *ngIf="gotData" style="margin-left: 20px" [routerLink]="['/edit-recruiter-account',userId]">Edit</h2></button>
</md-toolbar>
<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-around start" class="content">
    <span class="spacer"></span>
    <md-card class="blocks" fxFlex="60%">
      <table class="table" *ngIf="gotData" cellspacing="10">
        <tr class="table-row">
          <th>First Name:</th>
          <td>{{user.firstName}}</td>
        </tr>
        <tr>
          <th>Last Name:</th>
          <td>{{user.lastName}}</td>
        </tr>
        <tr>
          <th>E-mail:</th>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <th>Company Name:</th>
          <td>{{user.companyName}}</td>
        </tr>
        <tr>
          <th>Company Website:</th>
          <td>{{user.companyWebsite}}</td>
        </tr>
      </table>
    </md-card>
    <span class="spacer"></span>
  </div>
</div>
