<!--<button md-raised-button>Login</button>-->
<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="content">
    <md-card class="blocks" fxFlex="40%">
      <md-toolbar>Login</md-toolbar>
      <form #loginForm = "ngForm">
        <p>
          <md-input-container>
            <input mdInput [formControl] = "emailFormControl" [(ngModel)] = "email" name="email" placeholder="email" required>
            <md-error *ngIf="emailFormControl.hasError('required')">This field is required</md-error>
            <md-error *ngIf="emailFormControl.hasError('pattern')">Not a valid email address</md-error>
          </md-input-container>
        </p>
        <p>
          <md-input-container>
            <input mdInput type="password" [(ngModel)] = "password" name="password" placeholder="password" required>
            <md-error>This field is required</md-error>
          </md-input-container>
        </p>
        <button md-raised-button [disabled] = "!loginForm.form.valid" type="submit"> Login </button>
      </form>
    </md-card>
  </div>
</div>
