<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="content center-flex-object">
    <div class="blocks" fxFlex="40%">
      <md-card>
          <h1 style="text-align: center">Who are you?</h1>
          <p style="text-align: center">
            <a href="../create-user-student" style="color: black"><button md-raised-button>Student</button></a>
            <a href="../create-user-recruiter" style="color: black"><button md-raised-button>Recruiter</button></a>
          </p>
      </md-card>
    </div>
  </div>
</div>

