<md-toolbar color="primary">
  <button md-icon-button>
    <md-icon [routerLink]="['']">home</md-icon>
  </button>
  <h2 [routerLink]="['']">Internship Search</h2>
  <span class="spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="showAccountButton">
    <md-icon>person</md-icon>
  </button>
  <button md-button [routerLink]="['/help']" *ngIf="!showAccountButton">
    <md-icon>help</md-icon>
    Help
  </button>
</md-toolbar>
<md-menu #menu="mdMenu">
  <button md-menu-item [routerLink]="['/my-account']">My Account</button>
  <button md-menu-item [routerLink]="['/create-job-post']" *ngIf="userRole == 'recruiter'">Create Job Post</button>
  <button md-menu-item [routerLink]="['/jobs-applied-to']" *ngIf="userRole == 'student'">Jobs Applied To</button>
  <button md-menu-item (click)="logout()">Sign Out</button>
  <button md-menu-item [routerLink]="['/help']"><md-icon>help</md-icon>Help</button>
</md-menu>
<router-outlet></router-outlet>
