<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="content">
    <md-card class="blocks" fxFlex="50%">
      <md-card-title *ngIf="!updateForm">Create Job Post</md-card-title>
      <md-card-title *ngIf="updateForm">Update Job Post</md-card-title>
      <form [formGroup]="createjobpostform" *ngIf="gotData">
        <md-input-container style="width: 55%">
          <input mdInput type="text" [formControl] = "createjobpostform.controls['jobTitle']"
                 placeholder="Job Title" required>
          <md-error>This field is required</md-error>
        </md-input-container>

        <table class="full-width">
          <tr>
            <td>
              <md-input-container style="width: 80%">
              <input mdInput type="text" [formControl] = "createjobpostform.controls['companyName']"
                     placeholder="Company Name" required>
              <md-error>This field is required</md-error>
            </md-input-container>
            </td>
            <td style="text-align: right">
              <md-input-container style="width: 80%">
                <input mdInput type="text" [formControl] = "createjobpostform.controls['companyWebsite']"
                       placeholder="Company wesbite" required>
                <md-error>This field is required</md-error>
              </md-input-container>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <md-input-container style="width: 70%">
                <input mdInput type="text" [formControl] = "createjobpostform.controls['city']"
                       placeholder="City" required>
                <md-error>This field is required</md-error>
              </md-input-container>
            </td>
            <td style="text-align: center">
              <md-input-container>
                <input mdInput type="text" [formControl] = "createjobpostform.controls['stateOrProvince']"
                       placeholder="State/Province" required>
                <md-error>This field is required</md-error>
              </md-input-container>
            </td>
            <td style="text-align: right">
              <md-input-container style="width: 78%;">
                <input mdInput type="text" [formControl] = "createjobpostform.controls['country']"
                       placeholder="Country" required>
                <md-error *ngIf="createjobpostform.controls['country'].hasError('required')">This field is required</md-error>
                <md-error *ngIf="createjobpostform.controls['country'].hasError('pattern')">Please enter fullname of country</md-error>
              </md-input-container>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
        <md-input-container>
          <input mdInput [formControl] = "createjobpostform.controls['startDate']" [mdDatepicker]="picker2" placeholder="Start Date">
          <button mdSuffix [mdDatepickerToggle]="picker2"></button>
          <md-error>Enter a valid date</md-error>
        </md-input-container>
        <md-datepicker #picker2></md-datepicker>
            </td>
          </tr>
        </table>

        <table>
          <tr>
            <td style="width: 30%">
              <md-input-container>
                <input mdInput type="text" [formControl] = "createjobpostform.controls['durationOfInternship']"
                       placeholder="Duration of Intership" required>
                <md-error *ngIf="createjobpostform.controls['durationOfInternship'].hasError('required')">This field is required</md-error>
                <md-error *ngIf="createjobpostform.controls['durationOfInternship'].hasError('pattern')">Please enter a positive number</md-error>
              </md-input-container>
            </td>
            <td style="width: 10%;">
              <md-select [(ngModel)]="durationType" [formControl] = "createjobpostform.controls['durationOfInternshipType']" placeholder="For" floatPlaceHolder="never">
                <md-option [value]="'Week(s)'">Week(s)</md-option>
                <md-option [value]="'Month(s)'">Month(s)</md-option>
                <md-option [value]="'Year(s)'">Year(s)</md-option>
              </md-select>
            </td>
            <td>
              <span class="spacer"></span>
            </td>
          </tr>
          </table>
        <md-input-container class="full-width">
          <textarea mdInput type="text" [formControl] = "createjobpostform.controls['jobDescription']"
                    placeholder="Job Description" required></textarea>
          <md-error>This field is required</md-error>
        </md-input-container>
        <table class="full-width">
          <tr>
            <td style="width: 30%">
              <md-input-container>
                <input mdInput type="text" [formControl] = "createjobpostform.controls['minSalary']"
                       placeholder="Min Salary" required>
                <md-error *ngIf="createjobpostform.controls['maxSalary'].hasError('required')">This field is required</md-error>
                <md-error *ngIf="createjobpostform.controls['maxSalary'].hasError('pattern')">Please enter a positive number</md-error>
              </md-input-container>
            </td>
            <td style="width: 15%; text-align: center">
              <p>to</p>
            </td>
            <td style="width: 30%">
              <md-input-container class="full-width">
                <input mdInput type="text" [formControl] = "createjobpostform.controls['maxSalary']"
                       placeholder="Max Salary" required>
                <md-error *ngIf="createjobpostform.controls['maxSalary'].hasError('required')">This field is required</md-error>
                <md-error *ngIf="createjobpostform.controls['maxSalary'].hasError('pattern')">Please enter a positive number</md-error>
              </md-input-container>
            </td>
            <td style="text-align: right">
              <md-select placeholder="Salary paid" [(ngModel)]="salaryPaid" [formControl] = "createjobpostform.controls['salaryPaid']" floatPlaceHolder="never">
                <md-option [value]="'Hourly'">Hourly</md-option>
                <md-option [value]="'Monthly'">Monthly</md-option>
                <md-option [value]="'Annualy'">Annualy</md-option>
              </md-select>
            </td>
          </tr>
        </table>

        <md-input-container class="full-width">
          <input mdInput type="text" [formControl] = "createjobpostform.controls['preferredQualification']"
                 placeholder="Preferred Qualification" required>
          <md-error>This field is required</md-error>
        </md-input-container>

        <md-input-container class="full-width">
          <input mdInput type="text" [formControl] = "createjobpostform.controls['preferredEducation']"
                 placeholder="Preferred Education" required>
          <md-error>This field is required</md-error>
        </md-input-container>
        <md-checkbox [formControl] = "createjobpostform.controls['providingRelocation']">Providing Relocation</md-checkbox><br>
        <md-checkbox [formControl] = "createjobpostform.controls['securityClearanceRequired']">Security Clearance Required</md-checkbox><br>
        <md-checkbox [formControl] = "createjobpostform.controls['sponsoringVisa']">Sponsoring Visa</md-checkbox><br>

        <md-input-container class="full-width">
          <textarea mdInput type="text" [formControl] = "createjobpostform.controls['additionalInfo']"
                    placeholder="Additional Info"></textarea>
        </md-input-container>

        <p style="text-align: center">
          <button md-raised-button *ngIf="!updateForm" [disabled]="!createjobpostform.valid" (click)="createpost()" type="submit">Create Job Post</button>
          <button md-raised-button *ngIf="updateForm" (click)="updatepost()" >Update Job Post</button>
        </p>
      </form>
    </md-card>
  </div>
</div>
