<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="content">
      <md-card class="blocks" fxFlex="40%">
        <md-card-title>Create recruiter account</md-card-title>
        <form [formGroup]="createRecruiterForm">
          <table class="full-width">
            <tr>
              <td>
                <md-input-container style="width: 80%">
                  <input mdInput type="text" [formControl] = "createRecruiterForm.controls['firstName']"
                         placeholder="First name" required>
                  <md-error>This field is required</md-error>
                </md-input-container>
              </td>
              <td style="text-align: right">
                <md-input-container style="width: 80%">
                  <input mdInput type="text" [formControl] = "createRecruiterForm.controls['lastName']"
                         placeholder="Last name" required>
                  <md-error>This field is required</md-error>
                </md-input-container>
              </td>
            </tr>
          </table>
          <md-input-container class="full-width">
            <input mdInput type="email" [formControl] = "createRecruiterForm.controls['email']" placeholder="email"
                   required>
            <md-error *ngIf="createRecruiterForm.controls['email'].hasError('required')">This field is required
            </md-error>
            <md-error *ngIf="createRecruiterForm.controls['email'].hasError('pattern')">Not a valid email address
            </md-error>
          </md-input-container>
          <md-input-container *ngIf="!updateForm" class="full-width">
            <input mdInput type="password" [formControl]="createRecruiterForm.controls['password']"
                   placeholder="Password" required>
            <md-error *ngIf="createRecruiterForm.controls['password'].hasError('required')">This field is required
            </md-error>
            <md-error *ngIf="createRecruiterForm.controls['password'].hasError('pattern')">8 digit password with one
              capital and one small alphabet, one number and one special symbol</md-error>
          </md-input-container>
          <table class="full-width">
            <tr>
              <td>
                <md-input-container style="width: 80%">
                  <input mdInput type="text" [formControl] = "createRecruiterForm.controls['companyName']"
                         placeholder="Company Name" required>
                  <md-error>This field is required</md-error>
                </md-input-container>
              </td>
              <td style="text-align: right">
                <md-input-container style="width: 80%">
                  <input mdInput type="text" [formControl] = "createRecruiterForm.controls['companyWebsite']"
                         placeholder="Company wesbite" required>
                  <md-error>This field is required</md-error>
                </md-input-container>
              </td>
            </tr>
          </table>
          <p style="text-align: center">
            <button md-raised-button *ngIf="!updateForm" [disabled] = "!createRecruiterForm.valid"
                                                type="submit" (click)="createRecruiter()">Create Account</button>
            <button md-raised-button *ngIf="updateForm" (click)="updateAccount()" >Update Account</button>
          </p>
        </form>
      </md-card>
  </div>
</div>
